<!DOCTYPE html>
<html>
<head>
	<title>Admin Home</title>
</head>
<body>
	<h1>Welcome </h1>
	<a href="/add/newcar">Add New Car's Information</a> | 
	<a href="/carlist">Available Car</a> | 
	<a href="/delete/member">Remove a Member</a>

</body>
</html>