<!DOCTYPE html>
<html>
<head>
	<title>Carlist</title>
</head>
<body>
	<h1>Delete Page</h1>
	<a href="/user/userList">Back</a> | 
	<a href="/logout">logout</a>
	
	<table border="1">
		<tr>
			<td>ID</td>
			<td><%=car.id %></td>
		</tr>
		<tr>
			<td>NAME</td>
			<td><%=user.name %></td>
		</tr>
		<tr>
			<td>cost</td>
			<td><%=car.cost %></td>
		</tr>
			<tr>
			<td>category</td>
			<td><%=car.category %></td>
		</tr>
	</table>

<form method="post">
	<h3>Are you sure?</h3>
	<input type="submit" name="submit" value="Confirm">
</form>

</body>
</html>